- content_for :stylesheets do
  = stylesheet_link_tag 'base/index'
div class="page-header"
  h1
    | PBS Finder 
    small Protein Binding Sites Finder

div class="description"

  = partial 'layouts/notice', locals: { \
    type: 'danger', \
    notice: { t('base.beta_title') => t('base.beta') } \
  }

  = partial 'layouts/notice', locals: { \
    type: 'info', \
    notice: { \
      t('base.description.title0') => t('base.description.description0') + " <span><a href=\"#{ url_for(:jobs, :job, settings.main_conf['demo']) }\">#{ t('base.description.description0_add') }</a></span>", \
      t('base.description.title1') => t('base.description.description1'), \
      t('base.description.title2') => t('base.description.description2'), \
      t('base.description.title3') => t('base.description.description3'), \
      t('base.description.title4') => t('base.description.description4') \
    } \
  }
