= "Hello #{name}\n\n"

= "Your job is complete.\n\n"

= "Job description\n"
= "#{description}\n\n"

= "You can access the results in the following link:\n"
= "#{url}\n\n"

= "Best regards,\n"
= "PBS Finder"
