.panel-info {
  margin-top:30px;
}

.general-info {
  .stats {
    font-family: Ubuntu;
    color: #428bca;
    font-size: 1.2em;
  }
  .btn-group {
    margin-left:10px;
  }
  .report {
    margin-left:40px;
  }
  .separator {
    padding-bottom:20px;
  }
  .description {
    text-align: justify;
    font-size: 1.2em;
  }
  .download-menu {
    min-width:0;
    width:100%;
  }
}
.bs-callout {
  margin-top:30px;
}

.info {
  margin-top:30px;
}

.panel-danger {
  margin-top:30px;
}

.table-container {
  margin-top:20px;
  overflow:auto;
  padding-right: 1px;
  .table {
    margin-bottom:0px;

    th {
      border-bottom: 1px solid #dddddd;
    }

    th.footable-sortable {
      padding-right:20px;
    }

    .cluster-header {
      padding-right:5px !important;
    }

    td {
      min-width:30px;
      min-height:50px;
      vertical-align:middle;
      text-align:left;
      &.protein {
        border:solid 1px #dddddd;
      }
      &.match {
        background-color: #428bca;
        opacity: 0.85;
        border: solid 1px #428bca;
        height:50px;
      }
      &.no-bind, &.no-bind.striped {
        height:50px;
        background-image:url('../../images/stripe.png');
        background-repeat:repeat;
        border: solid 1px #dddddd;
        opacity:1;
        text-align:center;
        &:hover td {
          background-color:#333333;
        }
        span {
          padding-left:10px;
          padding-right:10px;
          font-weight:500;
          font-size: 1.6em;
          font-family: ubuntu;
          color: #a0a0a0;
          text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
        }
        td {
          border:none;
        }
      }
      &.bad-gene {
        color:rgb(255, 73, 73);
        text-align:center;
      }
      &.species {
        min-width:170px;
      }
      &.cluster {
        text-align:center;
        vertical-align:middle;
        font-size:0;
        opacity:0.6;
        border-right:solid 1px #dddddd;
        padding:0;
        .popup-div {
          width: 60px;
          height: 50px;
          cursor:pointer;
        }
        &.cluster-1 { background-color:#36a8e5; }
        &.cluster-2 { background-color:#3459a7; }
        &.cluster-3 { background-color:#f89316; }
        &.cluster-4 { background-color:#e6001d; }
        &.cluster-5 { background-color:#f1eb1c; }
        &.cluster-6 { background-color:#61b744; }
        &.cluster-7 { background-color:#483c92; }
        &.cluster-8 { background-color:#8bc32f; }
        &.cluster-9 { background-color:#1591ff; }
        &.cluster-10 { background-color:#61bc93; }
      }
    }

    tr {
      border-bottom: solid 1px #dddddd;
      min-height:50px;
      &.striped {
        /*background-color: #fafafa;*/
      }
      &:hover td {
        opacity:1;
        &.cluster {
          opacity:0.8;
        }
        &.match {
          border-left:solid 1px #336DA0;
          border-right:solid 1px #336DA0;
        }
      }
    }
  }
}
.legend {
  td {
    padding:10px 20px 10px 20px;
    margin-top:5px;
    margin-bottom:5px;
  }
  .visual {
    padding-left:0;
  }
  .divider {
    border-left:solid 1px rgb(177, 177, 177);
    padding-left:20px;
    padding-right:0;
  }
  .red {
    color:rgb(255, 73, 73);
  }
  .green {
    color:#009235;
  }
  .blue {
    color:#428bca;
  }
  .stripe {
    width:70px;
    background-image:url('../../images/stripe.png');
    background-repeat:repeat;
  }
}
th {
  white-space: nowrap;
  background-color:#fff !important;
}
#report-form {
  textarea {
    resize:none;
  }
  .explain {
    text-align:justify;
  }
}
.original, .toggle-converted {
  display:none;
}
.chart-name {
  margin-top:0px;
  font-variant:small-caps;
  font-weight:500;
  font-size: 1.8em;
  font-family: Ubuntu;
  margin-bottom:20px;
  border-bottom: 1px solid #aaa;
  max-width:300px;
  padding-bottom:5px;

}
.chart {
  height:320px;
}
.converted a, .external a {
  color:#009235;
}
.rotated-text {
  display: inline-block;
  overflow: hidden;
  width: 1.5em;
  line-height: 1.5;
}
.rotated-text-inner {
  display: inline-block;
  white-space: nowrap;
  -webkit-transform: translate(1.5em,0) rotate(90deg);
  -moz-transform: translate(1.5em,0) rotate(90deg);
  -o-transform: translate(1.5em,0) rotate(90deg);
  transform: translate(1.5em,0) rotate(90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -ms-transform: none;
  -ms-transform-origin: none;
  -ms-writing-mode: tb-rl;
  *writing-mode: tb-rl;
}
.rotated-text-inner:before {
  content: "";
  float: left;
  margin-top: 100%;
}
.pager {
  min-height:20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
  li.active a {
    color: rgb(153, 153, 153);
    &:hover {
      color: rgb(153, 153, 153);
      background:none;
    }
  }
  .next_page, .previous_page, a, em {
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(221, 221, 221);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    cursor: auto;
    display: inline-block;
    font-size: 14px;
    height: 32px;
    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-bottom: 5px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 5px;
    background:none;
    text-decoration:none;
    &.disabled, &.current {
      color: rgb(153, 153, 153);
      &:hover {
        color: rgb(153, 153, 153);
        background:none;
      }
    }
    &:hover {
      color: rgb(42, 100, 150);
      background-color: rgb(238, 238, 238);
    }
  }
  .current, .footable-page.active {
    font-weight:bold;
  }
  .gap, li {
    padding-left:5px;
  }
  .page-select {
    width:250px;
  }
}
.id-table {
  text-align:justify;
  font-family:Ubuntu;
  font-size:1.3em;
}
.id-table .first {
  vertical-align:top;
  font-variant:small-caps;
  text-align:right;
  padding-right:30px;
  font-weight:500;
  white-space: nowrap;
  overflow: hidden;
}
.back-button {
  margin-left:40px;
}
.popover-title {
  font-weight:bolder;
}
.popover-content {
  max-width: 600px;
}
.cluster-descriptions {
  display:none;
}
.cluster-table {
  white-space:pre-wrap;
  td {
    padding-bottom:5px;
    padding-top:5px;
  }
  .cluster-attribute {
    vertical-align:top;
    font-variant:small-caps;
    text-align:right;
    padding-right:15px;
    font-weight:bolder;
    white-space: nowrap;
    overflow: hidden;
  }
}
