.panel-info {
  margin-top: 30px; }

.general-info .species {
  font-family: Ubuntu;
  color: #428bca;
  font-size: 1.8em; }
.general-info .stats {
  font-family: Ubuntu;
  color: #428bca;
  font-size: 1.2em; }
.general-info .btn-group {
  padding-top: 5px;
  margin-left: 10px; }
.general-info .report {
  padding-top: 5px; }
.general-info .separator {
  padding-bottom: 20px; }
.general-info .description {
  text-align: justify;
  font-size: 1.2em; }
.general-info .download-menu {
  min-width: 0;
  width: 100%; }

.bs-callout {
  margin-top: 30px; }

.info {
  margin-top: 30px; }

.panel-danger {
  margin-top: 30px; }

.table-container {
  margin-top: 30px;
  overflow: auto;
  padding-right: 1px; }
  .table-container .table {
    margin-bottom: 0px; }
    .table-container .table th.footable-sortable {
      padding-right: 20px; }
    .table-container .table td {
      min-width: 30px;
      min-height: 50px;
      vertical-align: middle;
      text-align: left; }
      .table-container .table td.protein {
        border: solid 1px #dddddd; }
      .table-container .table td.match {
        background-color: #428bca;
        opacity: 0.85;
        border: solid 1px #428bca;
        height: 50px; }
      .table-container .table td.no-bind, .table-container .table td.no-bind.striped {
        height: 50px;
        background-image: url("../../images/stripe.png");
        background-repeat: repeat;
        border: solid 1px #dddddd;
        opacity: 1; }
        .table-container .table td.no-bind:hover td, .table-container .table td.no-bind.striped:hover td {
          background-color: #333333; }
        .table-container .table td.no-bind td, .table-container .table td.no-bind.striped td {
          border: none; }
      .table-container .table td.bad-gene {
        color: #ff4949; }
      .table-container .table td:nth-child(1) {
        min-width: 170px; }
    .table-container .table tr {
      border-bottom: solid 1px #dddddd;
      min-height: 50px; }
      .table-container .table tr.striped {
        /*background-color: #fafafa;*/ }
      .table-container .table tr:hover {
        opacity: 1;
        background-color: #428bca; }
        .table-container .table tr:hover td.match {
          border-left: solid 1px #336DA0;
          border-right: solid 1px #336DA0; }

.legend td {
  padding: 10px 20px 10px 20px;
  margin-top: 5px;
  margin-bottom: 5px; }
.legend .visual {
  padding-left: 0; }
.legend .divider {
  border-left: solid 1px #b1b1b1;
  padding-left: 20px;
  padding-right: 0; }
.legend .red {
  color: #ff4949; }
.legend .green {
  color: #009235; }
.legend .blue {
  color: #428bca; }
.legend .stripe {
  width: 70px;
  background-image: url("../../images/stripe.png");
  background-repeat: repeat; }

th {
  white-space: nowrap;
  background-color: #fff !important; }

#report-form textarea {
  resize: none; }
#report-form .explain {
  text-align: justify; }

.original, .toggle-converted {
  display: none; }

.chart-name {
  margin-top: 20px; }

.chart {
  height: 320px; }

.converted a, .external a {
  color: #009235; }

.rotated-text {
  display: inline-block;
  overflow: hidden;
  width: 1.5em;
  line-height: 1.5; }

.rotated-text-inner {
  display: inline-block;
  white-space: nowrap;
  -webkit-transform: translate(1.5em, 0) rotate(90deg);
  -moz-transform: translate(1.5em, 0) rotate(90deg);
  -o-transform: translate(1.5em, 0) rotate(90deg);
  transform: translate(1.5em, 0) rotate(90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -ms-transform: none;
  -ms-transform-origin: none;
  -ms-writing-mode: tb-rl;
  *writing-mode: tb-rl; }

.rotated-text-inner:before {
  content: "";
  float: left;
  margin-top: 100%; }

.pager {
  min-height: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; }
  .pager li.active a {
    color: #999999; }
    .pager li.active a:hover {
      color: #999999;
      background: none; }
  .pager .next_page, .pager .previous_page, .pager a, .pager em {
    border-bottom-color: #dddddd;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #dddddd;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #dddddd;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #dddddd;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    cursor: auto;
    display: inline-block;
    font-size: 14px;
    height: 32px;
    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-bottom: 5px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 5px;
    background: none;
    text-decoration: none; }
    .pager .next_page.disabled, .pager .next_page.current, .pager .previous_page.disabled, .pager .previous_page.current, .pager a.disabled, .pager a.current, .pager em.disabled, .pager em.current {
      color: #999999; }
      .pager .next_page.disabled:hover, .pager .next_page.current:hover, .pager .previous_page.disabled:hover, .pager .previous_page.current:hover, .pager a.disabled:hover, .pager a.current:hover, .pager em.disabled:hover, .pager em.current:hover {
        color: #999999;
        background: none; }
    .pager .next_page:hover, .pager .previous_page:hover, .pager a:hover, .pager em:hover {
      color: #2a6496;
      background-color: #eeeeee; }
  .pager .gap, .pager li {
    padding-left: 5px; }
  .pager .page-select {
    width: 250px; }
