.panel-info {
  margin-top: 30px; }

.general-info .stats {
  font-family: Ubuntu;
  color: #428bca;
  font-size: 1.2em; }
.general-info .btn-group {
  margin-left: 10px; }
.general-info .report {
  margin-left: 40px; }
.general-info .separator {
  padding-bottom: 20px; }
.general-info .description {
  text-align: justify;
  font-size: 1.2em; }
.general-info .download-menu {
  min-width: 0;
  width: 100%; }

.bs-callout {
  margin-top: 30px; }

.info {
  margin-top: 30px; }

.panel-danger {
  margin-top: 30px; }

.table-container {
  margin-top: 20px;
  overflow: auto;
  padding-right: 1px; }
  .table-container .table {
    margin-bottom: 0px; }
    .table-container .table th {
      border-bottom: 1px solid #dddddd; }
    .table-container .table th.footable-sortable {
      padding-right: 20px; }
    .table-container .table .cluster-header {
      padding-right: 5px !important; }
    .table-container .table td {
      min-width: 30px;
      min-height: 50px;
      vertical-align: middle;
      text-align: left; }
      .table-container .table td.protein {
        border: solid 1px #dddddd; }
      .table-container .table td.match {
        background-color: #428bca;
        opacity: 0.85;
        border: solid 1px #428bca;
        height: 50px; }
      .table-container .table td.no-bind, .table-container .table td.no-bind.striped {
        height: 50px;
        background-image: url("../../images/stripe.png");
        background-repeat: repeat;
        border: solid 1px #dddddd;
        opacity: 1;
        text-align: center; }
        .table-container .table td.no-bind:hover td, .table-container .table td.no-bind.striped:hover td {
          background-color: #333333; }
        .table-container .table td.no-bind span, .table-container .table td.no-bind.striped span {
          padding-left: 10px;
          padding-right: 10px;
          font-weight: 500;
          font-size: 1.6em;
          font-family: ubuntu;
          color: #a0a0a0;
          text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff; }
        .table-container .table td.no-bind td, .table-container .table td.no-bind.striped td {
          border: none; }
      .table-container .table td.bad-gene {
        color: #ff4949;
        text-align: center; }
      .table-container .table td.species {
        min-width: 170px; }
      .table-container .table td.cluster {
        text-align: center;
        vertical-align: middle;
        font-size: 0;
        opacity: 0.6;
        border-right: solid 1px #dddddd;
        padding: 0; }
        .table-container .table td.cluster .popup-div {
          width: 60px;
          height: 50px;
          cursor: pointer; }
        .table-container .table td.cluster.cluster-1 {
          background-color: #36a8e5; }
        .table-container .table td.cluster.cluster-2 {
          background-color: #3459a7; }
        .table-container .table td.cluster.cluster-3 {
          background-color: #f89316; }
        .table-container .table td.cluster.cluster-4 {
          background-color: #e6001d; }
        .table-container .table td.cluster.cluster-5 {
          background-color: #f1eb1c; }
        .table-container .table td.cluster.cluster-6 {
          background-color: #61b744; }
        .table-container .table td.cluster.cluster-7 {
          background-color: #483c92; }
        .table-container .table td.cluster.cluster-8 {
          background-color: #8bc32f; }
        .table-container .table td.cluster.cluster-9 {
          background-color: #1591ff; }
        .table-container .table td.cluster.cluster-10 {
          background-color: #61bc93; }
    .table-container .table tr {
      border-bottom: solid 1px #dddddd;
      min-height: 50px; }
      .table-container .table tr.striped {
        /*background-color: #fafafa;*/ }
      .table-container .table tr:hover td {
        opacity: 1; }
        .table-container .table tr:hover td.cluster {
          opacity: 0.8; }
        .table-container .table tr:hover td.match {
          border-left: solid 1px #336DA0;
          border-right: solid 1px #336DA0; }

.legend td {
  padding: 10px 20px 10px 20px;
  margin-top: 5px;
  margin-bottom: 5px; }
.legend .visual {
  padding-left: 0; }
.legend .divider {
  border-left: solid 1px #b1b1b1;
  padding-left: 20px;
  padding-right: 0; }
.legend .red {
  color: #ff4949; }
.legend .green {
  color: #009235; }
.legend .blue {
  color: #428bca; }
.legend .stripe {
  width: 70px;
  background-image: url("../../images/stripe.png");
  background-repeat: repeat; }

th {
  white-space: nowrap;
  background-color: #fff !important; }

#report-form textarea {
  resize: none; }
#report-form .explain {
  text-align: justify; }

.original, .toggle-converted {
  display: none; }

.chart-name {
  margin-top: 0px;
  font-variant: small-caps;
  font-weight: 500;
  font-size: 1.8em;
  font-family: Ubuntu;
  margin-bottom: 20px;
  border-bottom: 1px solid #aaa;
  max-width: 300px;
  padding-bottom: 5px; }

.chart {
  height: 320px; }

.converted a, .external a {
  color: #009235; }

.rotated-text {
  display: inline-block;
  overflow: hidden;
  width: 1.5em;
  line-height: 1.5; }

.rotated-text-inner {
  display: inline-block;
  white-space: nowrap;
  -webkit-transform: translate(1.5em, 0) rotate(90deg);
  -moz-transform: translate(1.5em, 0) rotate(90deg);
  -o-transform: translate(1.5em, 0) rotate(90deg);
  transform: translate(1.5em, 0) rotate(90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -ms-transform: none;
  -ms-transform-origin: none;
  -ms-writing-mode: tb-rl;
  *writing-mode: tb-rl; }

.rotated-text-inner:before {
  content: "";
  float: left;
  margin-top: 100%; }

.pager {
  min-height: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; }
  .pager li.active a {
    color: #999999; }
    .pager li.active a:hover {
      color: #999999;
      background: none; }
  .pager .next_page, .pager .previous_page, .pager a, .pager em {
    border-bottom-color: #dddddd;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #dddddd;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #dddddd;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #dddddd;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    cursor: auto;
    display: inline-block;
    font-size: 14px;
    height: 32px;
    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-bottom: 5px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 5px;
    background: none;
    text-decoration: none; }
    .pager .next_page.disabled, .pager .next_page.current, .pager .previous_page.disabled, .pager .previous_page.current, .pager a.disabled, .pager a.current, .pager em.disabled, .pager em.current {
      color: #999999; }
      .pager .next_page.disabled:hover, .pager .next_page.current:hover, .pager .previous_page.disabled:hover, .pager .previous_page.current:hover, .pager a.disabled:hover, .pager a.current:hover, .pager em.disabled:hover, .pager em.current:hover {
        color: #999999;
        background: none; }
    .pager .next_page:hover, .pager .previous_page:hover, .pager a:hover, .pager em:hover {
      color: #2a6496;
      background-color: #eeeeee; }
  .pager .current, .pager .footable-page.active {
    font-weight: bold; }
  .pager .gap, .pager li {
    padding-left: 5px; }
  .pager .page-select {
    width: 250px; }

.id-table {
  text-align: justify;
  font-family: Ubuntu;
  font-size: 1.3em; }

.id-table .first {
  vertical-align: top;
  font-variant: small-caps;
  text-align: right;
  padding-right: 30px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden; }

.back-button {
  margin-left: 40px; }

.popover-title {
  font-weight: bolder; }

.popover-content {
  max-width: 600px; }

.cluster-descriptions {
  display: none; }

.cluster-table {
  white-space: pre-wrap; }
  .cluster-table td {
    padding-bottom: 5px;
    padding-top: 5px; }
  .cluster-table .cluster-attribute {
    vertical-align: top;
    font-variant: small-caps;
    text-align: right;
    padding-right: 15px;
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden; }
