.page-header {
  margin-top:20px;
  h1, small {
    color:#428bca;
    font-family:Ubuntu;
  }
  small {
    opacity:0.6;
  }
}
.bs-callout-info{
  background-color:#f4f8fa;
  border-color:#5bc0de;
  margin:0;
}
