.page-header {
  margin-top: 20px; }
  .page-header h1, .page-header small {
    color: #428bca;
    font-family: Ubuntu; }
  .page-header small {
    opacity: 0.6; }

.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
  border-right: 3px solid #eee; }
  .bs-callout h4 {
    font-family: Ubuntu; }

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px; }

.bs-callout p:last-child {
  margin-bottom: 0; }

.bs-callout code {
  background-color: #fff;
  border-radius: 3px; }

.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f; }

.bs-callout-danger h4 {
  color: #d9534f; }

.bs-callout-warning {
  background-color: #fcf8f2;
  border-color: #f0ad4e; }

.bs-callout-warning h4 {
  color: #f0ad4e; }

.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #5bc0de;
  margin: 0; }

.bs-callout-info h4 {
  color: #5bc0de; }
